<li id="Lesson-<%= lesson.id %>>
      <span class="content">
          <%= lesson.name %>
          <%= lesson.price %>
          <%= lesson.note%>
          <button type="button">
            <%= link_to 'Edit', edit_company_lesson_path(lesson.company_id, lesson) %>
          </button>
          <%# <button type="button">
            <%= link_to 'Delete', lesson, method :delete %>
          </button> %>
      </span>
</li>
